<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/common::niftyHeader('文章列表','')"/>
<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <!--NAVBAR-->
    <!--===================================================-->
    <header id="navbar" th:replace="fragments/common::pageheader"/>
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">




            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">
                <div class="panel">

                    <!--Posts Table-->
                    <!--===================================================-->
                    <div class="panel-body">
                        <span th:if="${allCategory.size()>0}" th:each="item:${allCategory}">
                            <a th:text="${item.getTitle()}" th:href="@{/blog/category/{catId}/article(catId=${item.getCatId()})}">分类</a>
                        </span>
                    </div>
                    <!--===================================================-->
                    <!--End Posts Table-->




                </div>
                <!--===================================================-->
                <!--End page content-->

            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->



            <!--ASIDE-->
            <!--===================================================-->
            <aside id="aside-container" th:replace="fragments/common::aside"/>
            <!--===================================================-->
            <!--END ASIDE-->


            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">


                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group" th:include="fragments/common::menu('/blog/category')"/>
                                <!--Widget-->
                                <div class="mainnav-widget" th:replace="fragments/common::mainnavwidget2"/>
                                <!--End widget-->
                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>
        <footer id="footer" th:replace="fragments/common::contentFoot"/>
    </div>

</div>
<!-- END OF CONTAINER -->
<div th:replace="fragments/common::footjs('')"></div>
</body>
</html>
