<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="|文章编辑|">文章编辑</title>
    <style>
        #content-container:before {
            display: none;
        }
    </style>
</head>
<body>
<ul id="mainnav-menu" class="list-group" layout:fragment="menu" th:include="fragments/common::menu('/blog/post')"></ul>
<div id="page-content" layout:fragment="content">
    <div th:include="fragments/common::form(${form},@{'/blog/post'})" xmlns:th="http://www.w3.org/1999/html">
    </div>
</div>
<div layout:fragment="footjs">
</div>
</body>
</html>
