<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <title th:text="|${blog.title}-文章编辑|">文章编辑</title>
    <meta name="Keywords" content="keywords" th:content="|${blog.title},资讯,博客,时事要闻,qintingfm,microtf|">
    <meta name="description" content="资讯，博客，时事要闻" th:content="|${blog.title}资讯,博客,时事要闻|">
    <style>
        #content-container:before{
            display:none;
        }
    </style>
    <link href="//static.qintingfm.com/nifty/v2.9/plugins/dropzone/dropzone.min.css" rel="stylesheet"/>
    <link href="//static.qintingfm.com/nifty/v2.9/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
</head>
<body>
<div id="page-content" layout:fragment="content">
    <form action="#" th:action="@{'/blog/post/{postId}'(postId=${blog.postId?:0})}" class="ajaxform" method="post">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <div class="form-group">
                <label class="col-sm-3 control-label text-left" for="cat-selector">分类</label>
                <div class="col-sm-9">
                    <select class="selectpicker" multiple id="cat-selector" style="width: 100%">
                        <option value="none" selected="" disabled="disabled">UnCategorized</option>
                        <option value="push">Internet</option>
                        <option value="push">Movies</option>
                        <option value="push">Musics</option>
                        <option value="push">Entertainment</option>
                        <option value="push">Sports</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2">
            <div class="form-group">
                <label class="col-sm-5 control-label text-left" for="allow-comments">评论</label>
                <div class="col-sm-7">
                    <input class="toggle-switch" id="allow-comments" type="checkbox" checked="checked"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2">
            <div class="form-group">
                <label class="col-sm-5 control-label text-left" for="public">发布</label>
                <div class="col-sm-7">
                    <input class="toggle-switch" id="public" type="checkbox" checked="checked"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-1">
            <button class="btn btn-primary">保存</button>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <input type="text" placeholder="Blog Title" class="form-control input-lg" autofocus="autofocus" th:value="${blog.title}"/>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div th:utext="${blog.blogCont.cont}" class="editor"></div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<div layout:fragment="footjs">
    <script src="//static.qintingfm.com/ckeditor5/build/ckeditor.js"></script>
    <script src="//static.qintingfm.com/ckeditor5/build/translations/zh-cn.js"></script>
    <script src="//static.qintingfm.com/nifty/v2.9/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="//static.qintingfm.com/nifty/v2.9/plugins/dropzone/dropzone.min.js"></script>
    <script>
        $(document).on('nifty.ready', function () {
            $('#demo-dropzone').dropzone({
                //url: '/file/post',
                //autoProcessQueue: false,
                addRemoveLinks: true,
                maxFiles: 1,
                init: function() {
                    var myDropzone = this;
                    myDropzone.on('maxfilesexceeded', function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    });
                }
            });
            ClassicEditor
                .create( document.querySelector( '.editor' ), {
                    toolbar: {
                        items: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'underline',
                            'strikethrough',
                            'fontColor',
                            'fontBackgroundColor',
                            '|',
                            'bulletedList',
                            'numberedList',
                            '|',
                            'indent',
                            'outdent',
                            'alignment',
                            '|',
                            'link',
                            'imageUpload',
                            'mediaEmbed',
                            'blockQuote',
                            'codeBlock',
                            'insertTable',
                            'undo',
                            'redo',
                            '|',
                            'removeFormat',
                            'code'
                        ]
                    },
                    language: 'zh-cn',
                    image: {
                        toolbar: [
                            'imageTextAlternative',
                            'imageStyle:full',
                            'imageStyle:alignLeft',
                            'imageStyle:alignRight',
                            'imageStyle:side'
                        ]
                    },
                    table: {
                        contentToolbar: [
                            'tableColumn',
                            'tableRow',
                            'mergeTableCells',
                            'tableCellProperties',
                            'tableProperties'
                        ]
                    },
                    simpleUpload:{
                        uploadUrl: ':/uploadImage'
                    },
                    licenseKey: '',

                } )
                .then( editor => {
                    window.editor = editor;
                } )
                .catch( error => {
                    console.error( error );
                } );
        });
    </script>
</div>
</body>
</html>
