<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>用户激活</title>
    <meta name="Keywords" content="资讯,博客,时事要闻,qintingfm,microtf">
    <meta name="description" content="资讯,博客,时事要闻">
    <style>
        #content-container:before {
            display: none;
        }
    </style>
</head>
<body>
<ul id="mainnav-menu" class="list-group" layout:fragment="menu" th:include="fragments/common::menu('/')"></ul>
<div layout:fragment="content">
    <div class="pad-btm" th:utext="|${message}|"></div>
</div>
<div layout:fragment="footjs">
</div>
</body>
</html>