<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh_CN">
<ul th:fragment="menu(tpl)">
    <!--Category name-->
    <li class="list-header">导航</li>

    <li th:class="${tpl}=='/'?'active-link':''">
        <a href="#" th:href="@{/}">
            <i class="demo-pli-home"></i>
            <span class="menu-title">首页</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="demo-pli-file-html"></i>
            <span class="menu-title">博客</span>
            <i class="arrow"></i>
        </a>
        <!--Submenu-->
        <ul class="collapse">
            <li th:class="${tpl}=='/blog/post'?'active-link':''"><a href="pages-blank.html" th:href="@{/blog/post}">发布文章</a></li>
            <li th:class="${tpl}=='/blog/category'?'active-link':''"><a href="pages-blank.html" th:href="@{/blog/category}">分类</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="demo-pli-file-html"></i>
            <span class="menu-title">系统设置</span>
            <i class="arrow"></i>
        </a>
        <!--Submenu-->
        <ul class="collapse">
            <li th:class="${tpl}=='/admin/blog/setting/pushbaidu'?'active-link':''"><a href="pages-blank.html" th:href="@{/admin/blog/setting/pushbaidu}">百度推送</a></li>
        </ul>
    </li>
</ul>
<!-- 分页 -->
<ul class="pagination" th:fragment="pager( pageIndex,pageTotal,urlPrefix )" th:if="${pageTotal gt 0}">
    <li th:class="${pageIndex==1}?'disabled':''"><a href="#" class="demo-pli-arrow-left" th:href="${#strings.replace(urlPrefix,'{}',1)}"></a></li>

    <li th:class="${pageIndex==index}?'active':''" th:each="index:${#numbers.sequence(1, pageTotal)}"><a href="#" th:href="${#strings.replace(urlPrefix,'{}',index)}" th:text="${index}">1</a></li>
    <li th:class="${pageIndex==pageTotal}?'disabled':''"><a href="#" class="demo-pli-arrow-right" th:href="${#strings.replace(urlPrefix,'{}',pageTotal)}"></a></li>
</ul>
</html>