<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="niftyHeader( pageTitle ,csslist)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title th:text="|${pageTitle} crudelion|">title</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
    <link type="application/rsd+xml" rel="EditURI" href="/xmlrpc/xmlrpcserver" />

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="//static.qintingfm.com/nifty/v2.9/css/bootstrap.min.css" rel="stylesheet"/>


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="//static.qintingfm.com/nifty/v2.9/css/nifty.min.css" rel="stylesheet"/>


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="//static.qintingfm.com/nifty/v2.9/css/demo/nifty-demo-icons.min.css" rel="stylesheet"/>


    <!--=================================================-->



    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="//static.qintingfm.com/nifty/v2.9/plugins/pace/pace.min.css" rel="stylesheet"/>
    <script href="//static.qintingfm.com/nifty/v2.9/plugins/pace/pace.min.js"></script>


    <!--Demo [ DEMONSTRATION ]-->
    <link href="//static.qintingfm.com/nifty/v2.9/css/theme-select.min.css" rel="stylesheet"/>

    <link href="#" th:href="${css}" rel="stylesheet" th:each="css:${#strings.listSplit(csslist,',')}"/>




    <link id="theme" th:href="${#themes.code('skinCss')}" rel="stylesheet" th:if="${#themes.code('skinCss')}"/>

    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->


</head>
<ul th:fragment="menu(tpl)">


    <!--Category name-->
    <li class="list-header">导航</li>

    <li th:class="${tpl}=='/'?'active-link':''">
        <a href="#" th:href="@{/}">
            <i class="demo-pli-home"></i>
            <span class="menu-title">首页</span>
        </a>
    </li>



    <!--Menu list item-->

    <li>
        <a href="#">
            <i class="demo-pli-file-html"></i>
            <span class="menu-title">博客</span>
            <i class="arrow"></i>
        </a>

        <!--Submenu-->
        <ul class="collapse">
            <li th:class="${tpl}=='/blog/post'?'active-link':''"><a href="pages-blank.html" th:href="@{/blog/post}">发布文章</a></li>
            <li th:class="${tpl}=='/blog/postList'?'active-link':''"><a href="pages-blank.html" th:href="@{/blog/postList}">文章列表</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="demo-pli-file-html"></i>
            <span class="menu-title">工具</span>
            <i class="arrow"></i>
        </a>

        <!--Submenu-->
        <ul class="collapse">
            <li th:class="${tpl}=='/blank'?'active-link':''"><a href="#" th:href="@{/blank}">Blank Page</a></li>
            <li th:class="${tpl}=='/config/form'?'active-link':''"><a href="#" th:href="@{/config/form}">Blank Page</a></li>
            <li th:class="${tpl}=='/ip/search'?'active-link':''"><a href="#" th:href="@{/ip/search}">IP查询</a></li>
        </ul>
    </li>
</ul>
<div th:fragment="footjs( jslist)">
    <!-- SCROLL PAGE BUTTON -->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--jQuery [ REQUIRED ]-->
    <script src="//static.qintingfm.com/nifty/v2.9/js/jquery.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="//static.qintingfm.com/nifty/v2.9/js/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="//static.qintingfm.com/nifty/v2.9/js/nifty.min.js"></script>

    <script src="//static.qintingfm.com/plugins/jquery.dialog.min.js"></script>
    <script src="//static.qintingfm.com/plugins/jquery.ajaxform.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function (){
            var activelink=$('li.active-link');
            if(activelink.length){
                activelink.parents().each(function (){
                    if($(this).get(0).tagName=='UL' && $(this).hasClass('list-group')){
                        return;
                    }
                    if($(this).get(0).tagName=="UL"){
                        $(this).addClass("in");
                    }
                    if($(this).get(0).tagName=="LI"){
                        $(this).addClass("active active-sub");
                    }
                });
            }
            var themeBtn = $('.demo-theme');
            var skincss=[[${#themes.code('skinCss')}]];
            $(".demo-theme[data-css= '"+skincss+"' ").addClass('active').tooltip('hide');
                changeTheme = function (themeName, cssfile) {
                    var themeCSS = $('#theme');
                    if (themeCSS.length) {
                        themeCSS.prop('href', cssfile);
                    } else {
                        themeCSS = '<link id="theme" href="' + cssfile + '" rel="stylesheet">';
                        $('head').append(themeCSS);
                    }
                    $.get('/misc/changeTheme?theme='+themeName);
                };

            themeBtn.on('click', function (e) {
                e.preventDefault();
                console.log(e);
                var el = $(this);
                if (el.hasClass('disabled') || el.hasClass('active')) {
                    return false;
                }
                changeTheme(el.attr('data-theme'), el.attr('data-css'));
                themeBtn.removeClass('active');
                el.addClass('active').tooltip('hide');
                return false;
            });
        });
        /*]]>*/
    </script>
    <script th:src="${js}" th:each="js:${#strings.listSplit(jslist,',')}"></script>
    <!--=================================================-->

    <!--Demo script [ DEMONSTRATION ]-->
</div>
<header id="navbar" th:fragment="pageheader">
    <div id="navbar-container" class="boxed">

        <!--Brand logo & name-->
        <!--================================-->
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand" th:href="@{/}">
                <img src="//static.qintingfm.com/nifty/v2.9/img/logo.png" alt="Nifty Logo" class="brand-icon" />
                <div class="brand-title">
                    <span class="brand-text">QintingFm</span>
                </div>
            </a>
        </div>
        <!--================================-->
        <!--End brand logo & name-->


        <!--Navbar Dropdown-->
        <!--================================-->
        <div class="navbar-content">
            <ul class="nav navbar-top-links">

                <!--Navigation toogle button-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li class="tgl-menu-btn">
                    <a class="mainnav-toggle" href="#">
                        <i class="demo-pli-list-view"></i>
                    </a>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End Navigation toogle button-->



                <!--Search-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li>
                    <div class="custom-search-form">
                        <label class="btn btn-trans" for="search-input" data-toggle="collapse" data-target="#nav-searchbox">
                            <i class="demo-pli-magnifi-glass"></i>
                        </label>
                        <form>
                            <div class="search-container collapse" id="nav-searchbox">
                                <input id="search-input" type="text" class="form-control" placeholder="Type for search..."/>
                            </div>
                        </form>
                    </div>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End Search-->

            </ul>
            <ul class="nav navbar-top-links">





                <!--User dropdown-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li id="dropdown-user" class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="ic-user pull-right">
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <!--You can use an image instead of an icon.-->
                                    <!--<img class="img-circle img-user media-object" src="img/profile-photos/1.png" alt="Profile Picture">-->
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <i class="demo-pli-male"></i>
                                </span>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--You can also display a user name in the navbar.-->
                        <!--<div class="username hidden-xs">Aaron Chavez</div>-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    </a>

                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                        <ul class="head-list">
                            <li>
                                <a href="#"><i class="demo-pli-male icon-lg icon-fw"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><span class="label label-success pull-right">New</span><i class="demo-pli-gear icon-lg icon-fw"></i> Settings</a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/user/logout}" class="ajaxdialog"><i class="demo-pli-unlock icon-lg icon-fw"></i> 退出</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End user dropdown-->

                <li>
                    <a href="#" class="aside-toggle">
                        <i class="demo-pli-layout-grid"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--================================-->
        <!--End Navbar Dropdown-->

    </div>
</header>
<aside id="aside-container" th:fragment="aside">
    <div id="aside">
        <div class="nano">
            <div class="nano-content">
                <ul class="list-group bg-trans">
                    <li class="pad-top list-header">
                        <p class="text-main text-sm text-uppercase text-bold mar-no">主题</p>
                    </li>
                    <li class="list-group-item">
                        <div class="clearfix text-center demo-srow-scheme">
                            <div class="clearfix demo-full-theme">
                                <div class="col-md-6">
                                    <div class="media v-middle">
                                        <div class="media-left demo-single-theme">
                                            <a href="#" class="demo-theme demo-theme-light" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-full/theme-light-full.min.css" data-theme="fulllight"></a>
                                        </div>
                                        <div class="media-body">
                                            <p class="text-bold text-main mar-no text-uppercase text-sm">Full Light</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media v-middle">
                                        <div class="media-left demo-single-theme">
                                            <a href="#" class="demo-theme demo-theme-dark" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-full/theme-dark-full.min.css" data-theme="fulldark"></a>
                                        </div>
                                        <div class="media-body">
                                            <p class="text-bold text-main mar-no text-uppercase text-sm">Full Dark </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="demo-theme-btn col-md-12">
                                <div class="demo-justify-theme">
                                    <a href="#" class="demo-theme demo-theme-gray add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-gray.min.css" data-theme="gray" data-title="Gray"></a>
                                    <a href="#" class="demo-theme demo-theme-navy add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-navy.min.css" data-theme="navy" data-title="Navy Blue"></a>
                                    <a href="#" class="demo-theme demo-theme-ocean add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-ocean.min.css" data-theme="ocean" data-title="Ocean"></a>

                                    <a href="#" class="demo-theme demo-theme-lime add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-lime.min.css" data-theme="lime" data-title="Lime"></a>
                                    <a href="#" class="demo-theme demo-theme-purple add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-purple.min.css" data-theme="purple" data-title="Purple"></a>
                                    <a href="#" class="demo-theme demo-theme-dust add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-dust.min.css" data-theme="dust" data-title="Dust"></a>

                                    <a href="#" class="demo-theme demo-theme-mint add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-mint.min.css" data-theme="mint" data-title="Mint"></a>
                                    <a href="#" class="demo-theme demo-theme-yellow add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-yellow.min.css" data-theme="yellow" data-title="Yellow"></a>
                                    <a href="#" class="demo-theme demo-theme-well-red add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-well-red.min.css" data-theme="well-red" data-title="Well Red"></a>

                                    <a href="#" class="demo-theme demo-theme-coffee add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-coffee.min.css" data-theme="coffee" data-title="Coffee"></a>
                                    <a href="#" class="demo-theme demo-theme-prickly-pear add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-prickly-pear.min.css" data-theme="prickly-pear" data-title="Prickly pear"></a>
                                    <a href="#" class="demo-theme demo-theme-dark add-tooltip" data-css="//static.qintingfm.com/nifty/v2.9/css/themes/type-e/theme-dark.min.css" data-theme="dark" data-title="Dark"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group bg-trans">
                    <li class="pad-top list-header">
                        <p class="text-main text-sm text-uppercase text-bold mar-no">导航</p>
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <input id="demo-nav-fixed" class="toggle-switch" type="checkbox"/>
                            <label for="demo-nav-fixed"></label>
                        </div>
                        <p class="mar-no text-main">Fixed Position</p>
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <input id="demo-nav-profile" class="toggle-switch" type="checkbox"/>
                            <label for="demo-nav-profile"></label>
                        </div>
                        <p class="mar-no text-main">Widget Profil</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
<div class="mainnav-widget" th:fragment="mainnavwidget2">
    <!-- Show the button on collapsed navigation -->
    <div class="show-small">
        <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
            <i class="demo-pli-monitor-2"></i>
        </a>
    </div>

    <!-- Hide the content on collapsed navigation -->
    <div id="demo-wg-server" class="hide-small mainnav-widget-content">
        <ul class="list-group">
            <li class="list-header pad-no mar-ver">Server Status</li>
        </ul>
    </div>
</div>
<!-- 分页 -->
<!--<ul class="pagination" th:fragment="pager( pageInfo )">-->
<!--    <li th:class="${pageInfo.getPaged().getPage()==1}?'disabled':''"><a href="#" class="demo-pli-arrow-left" th:href="${#strings.replace(pageInfo.getPaged().getRequestUrl(),'{}',1)}"></a></li>-->
<!--    <li th:class="${pageInfo.getPaged().getPage()==index}?'active':''" th:each="index:${#numbers.sequence(1, pageInfo.getPaged().getTotalPage())}"><a href="#" th:href="${#strings.replace(pageInfo.getPaged().getRequestUrl(),'{}',index)}" th:text="${index}">1</a></li>-->
<!--    <li th:class="${pageInfo.getPaged().getPage()==pageInfo.getPaged().getTotalPage()}?'disabled':''"><a href="#" class="demo-pli-arrow-right" th:href="${#strings.replace(pageInfo.getPaged().getRequestUrl(),'{}',pageInfo.getPaged().getTotalPage())}"></a></li>-->
<!--</ul>-->
<!-- 分页 -->
<ul class="pagination" th:fragment="pager( pageIndex,pageTotal,urlPrefix )">
    <li th:class="${pageIndex==1}?'disabled':''"><a href="#" class="demo-pli-arrow-left" th:href="${#strings.replace(urlPrefix,'{}',1)}"></a></li>
    <li th:class="${pageIndex==index}?'active':''" th:each="index:${#numbers.sequence(1, pageTotal)}"><a href="#" th:href="${#strings.replace(urlPrefix,'{}',index)}" th:text="${index}">1</a></li>
    <li th:class="${pageIndex==pageTotal}?'disabled':''"><a href="#" class="demo-pli-arrow-right" th:href="${#strings.replace(urlPrefix,'{}',pageTotal)}"></a></li>
</ul>
<footer id="footer" th:fragment="contentFoot">

    <!-- Visible when footer positions are fixed -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="show-fixed pad-rgt pull-right">
        You have <a href="#" class="text-main"><span class="badge badge-danger">0</span> pending action.</a>
    </div>



    <!-- Visible when footer positions are static -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="hide-fixed pull-right pad-rgt">
        14GB of <strong>512GB</strong> Free.
    </div>



    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <p class="pad-lft">&#0169; 2020 qintingfm.com</p>



</footer>
</html>