<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::niftyHeader('IP查询','')"/>


<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <!--NAVBAR-->
    <!--===================================================-->
    <header id="navbar" th:replace="fragments/common::pageheader"/>
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <div id="page-head">
            </div>


            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">

                <div class="panel blog blog-details">
                    <div class="panel-body">


                        <!-- Comment form -->
                        <!--===================================================-->
                        <hr class="new-section-sm bord-no"/>
                        <p class="text-lg text-main text-bold text-uppercase">IP地址查询</p>
                        <form role="form" th:action="@{/ip/search}" th:method="get">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" th:name="ip" class="form-control" placeholder="请输入IP地址" th:value="${ip}"/>
                                        <span>您当前IP<a href="#" th:href="@{/ip/search(ip=${localIp})}" th:text="${localIp}">127.0.0.1</a></span>
                                        <span><a href="#" th:href="@{/ip/apiDoc}">第三方调用说明</a></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-comment"></i>查询</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <table id="demo-editable-table" class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td width="35%">IP</td>
                                            <td width="65%" th:text="${ipInfo.ip}"></td>
                                        </tr>
                                        <tr>
                                            <td>国家</td>
                                            <td th:text="${ipInfo.country}"></td>
                                        </tr>
                                        <tr>
                                            <td>省</td>
                                            <td th:text="${ipInfo.province}"></td>
                                        </tr>
                                        <tr>
                                            <td>城市</td>
                                            <td th:text="${ipInfo.city}"></td>
                                        </tr>
                                        <tr>
                                            <td>ISP</td>
                                            <td th:text="${ipInfo.isp}"></td>
                                        </tr>
                                        <tr>
                                            <td>信息提供商</td>
                                            <td th:text="${ipInfo.provider}"></td>
                                        </tr>
                                        <tr>
                                            <td>最后更新时间</td>
                                            <td th:text="${#dates.format(ipInfo.lastUpdate,'yyyy-MM-dd')}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!--===================================================-->
            <!--End page content-->

        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->



        <!--ASIDE-->
        <!--===================================================-->
        <aside id="aside-container" th:replace="fragments/common::aside"/>
        <!--===================================================-->
        <!--END ASIDE-->


        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container">
            <div id="mainnav">


                <!--OPTIONAL : ADD YOUR LOGO TO THE NAVIGATION-->
                <!--It will only appear on small screen devices.-->
                <!--================================
                <div class="mainnav-brand">
                    <a href="index.html" class="brand">
                        <img src="img/logo.png" alt="Nifty Logo" class="brand-icon">
                        <span class="brand-text">Nifty</span>
                    </a>
                    <a href="#" class="mainnav-toggle"><i class="pci-cross pci-circle icon-lg"></i></a>
                </div>
                -->



                <!--Menu-->
                <!--================================-->
                <div id="mainnav-menu-wrap">
                    <div class="nano">
                        <div class="nano-content">
                            <ul id="mainnav-menu" class="list-group" th:include="fragments/common::menu('/ip/search')"/>
                            <!--Widget-->
                            <div class="mainnav-widget" th:replace="fragments/common::mainnavwidget2"/>
                            <!--End widget-->
                        </div>
                    </div>
                </div>
                <!--================================-->
                <!--End menu-->

            </div>
        </nav>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->

    </div>
    <footer id="footer" th:replace="fragments/common::contentFoot"/>
</div>

<div th:replace="fragments/common::footjs('')"></div>
</body>
</html>